<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="Dan Rousseau - Software Developer living in Johannesburg, South Africa. Specializing in Dotnet Core and C#. This is my Portfolio &amp; Blog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Dan Rousseau - South African Software Developer</title>
    {{ partial "gtag.html" }}
</head>

<body>
    <div class="w-screen h-screen overflow-auto">
        <div class="w-full h-full flex">
            <aside class="h-full w-1/6 flex flex-col"><a href="/"
                    class="nav-link mx-auto text-xl py-5 mt-5 text-gray-900 active">
                    Home
                </a>
                <a href="blog" class="nav-link mx-auto text-xl py-5 mt-5 text-gray-800">
                    Blog
                </a>
            </aside>


            <main class="flex-1 flex mt-5 md:mt-24">
                <div class="w-4/5 h-full mx-auto overflow-auto max-w-screen-md">
                    <h1 class="text-4xl tracking-wide leading-tight">Hi, I'm Dan Rousseau.</h1>
                    <span href="" class="font-bold text-indigo-600 mt-3 text-lg">Fullstack Engineer</span>
                    <h2 class="text-3xl font-medium tracking-wide leading-tight mt-3 max-w-screen-sm">Game
                        Development
                        &amp;
                        Full Stack Web Development</h2>
                    <div class="about">
                        <p>
                            I am a fullstack developer based in Johannesburg, South Africa, I have 3 years of
                            professional
                            experience building and deploying games, cloud applications and maintaining servers. I
                            have
                            gained
                            skills in many aspects of the IT and development industry including but not limited to
                            game
                            development, web development, networking and cloud computing.
                        </p>
                        <p>
                            I am currently working in the consumer electronics industry for <a class="text-indigo-600"
                                target="_blank" rel="noopener" href="https://www.madebyeden.com/">EDEN</a> where we
                            are
                            working on The <a class="text-indigo-600" target="_blank" rel="noopener"
                                href="https://www.instagram.com/ig.madebyeden/?hl=en">Eden Snacker</a>, VR made easy.
                        </p>
                    </div>
                    <div>
                        <section class="mt-5">
                            <h3 class="text-2xl font-medium max-w-lg leading-none m-0 tracking-wide">
                                Tools &amp; Technologies
                            </h3>
                            <div
                                class="flex gap-5 text-xs text-gray-700 body-font font-normal tracking-wide title-font text-center font-bold mt-5">
                                <div class="h-10 w-10 rounded-full flex flex-col"><img class="w-10 h-10 mx-auto"
                                        src="https://img.icons8.com/ios/50/000000/c-sharp-logo.png" alt=".NET">
                                    .NET</div>
                                <div class="h-10 w-10 rounded-full flex flex-col"><img class="w-10 h-10 mx-auto"
                                        src="https://img.icons8.com/ios/50/000000/golang.png" alt="Golang">
                                    Golang</div>
                                <div class="h-10 w-10 rounded-full flex flex-col"><img class="w-10 h-10 mx-auto"
                                        src="/img/python.svg" alt="Python">
                                    Python</div>
                                <div class="h-10 w-10 rounded-full flex flex-col"><img class="w-10 h-10 mx-auto"
                                        src="https://img.icons8.com/dotty/80/000000/sql.png" alt="SQL">
                                    SQL</div>
                            </div>
                            <div
                                class="flex gap-5 text-xs text-gray-700 body-font font-normal tracking-wide title-font text-center font-bold mt-8 mb-8">
                                <div class="h-15 w-15 rounded-full flex flex-col"><img class="h-10 w-10 mx-auto"
                                        src="https://img.icons8.com/wired/64/000000/linux.png" alt="Linux">
                                    Linux</div>
                                <div class="h-15 w-15 rounded-full flex flex-col"><img class="h-10 w-10 mx-auto"
                                        src="/img/docker.svg" alt="Docker">
                                    Docker</div>
                                <div class="h-15 w-15 rounded-full flex flex-col"><img class="h-10 w-10 mx-auto"
                                        src="/img/unity.svg" alt="Unity">
                                    Unity</div>
                                <div class="h-15 w-15 rounded-full flex flex-col"><img class="h-10 w-10 mx-auto"
                                        src="/img/azure.svg" alt="Azure">
                                    Azure</div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>